body {
    font-family: sans-serif;
    padding: 20px;
text-align: center;
background-color: darkslategray;
}

.welcome-title {
    color: darkcyan;
}

button {
    padding: 10px 15px;
    background-color: rgb(37, 63, 63);
    color: darkcyan;
    border: none;
    cursor: pointer;
}